*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.no-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
  border: transparent;
}

::-webkit-scrollbar:horizontal {
  height: 0px;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--text-color-opac);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 2px;
}